
axolotl
exllamav2
/Llama-2-7B-GPTQ
exllamav2
llama-tokenizer
/input_texts
*.png
*.jpg

/_archive
/pngs
*.rpp-bak
/reaper/classify/Media
/reaper/soundcheck/Media
/max/modul-samples
/ableton/techno Project/Backup
*.reapeaks
*.asd
/rave/_rave mp3
/rave/dataset
*.flac
*/.DS_Store
/reaper/rebetik
*.wav
*.aif
/max/DAVID
*.mp4
Icon?*
ableton/test-looping Project/Icon
ableton/techno Project/Icon
ableton/talking Project/Icon
ableton/rebe Project/Icon
.DS_Store
/.venv
.DS_Store
max/.DS_Store
*.mov
max/.DS_Store
paperspace-chatbot/app-groq.py
paperspace-chatbot/groq-alien.py
paperspace-chatbot/streaming.py
.DS_Store
